body {
  margin: 0;
  font-family: Arial;
  background: #111;
  color: white;
}

header {
  text-align: center;
  padding: 15px;
  background: black;
  border-bottom: 1px solid #222;
}

.kanban {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.coluna {
  flex: 1;
  background: #1a1a1a;
  border-radius: 10px;
  padding: 10px;
  min-height: 80vh;
}

.coluna h2 {
  text-align: center;
}

.card {
  background: #222;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

button {
  margin-top: 5px;
  width: 100%;
  padding: 6px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.preparar { background: orange; }
.pronto { background: green; color: white; }
.remover { background: red; color: white; }